@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(fonts.css);

html,
body {
  background: #212121;
  font-family: 'Century Gothic', GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  color: #ccc;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

* { outline: 0; }

/* Helpers */
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.transparent-half {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* Material Icons */
/*i.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  !* Preferred icon size *!
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  !* Support for all WebKit browsers. *!
  -webkit-font-smoothing: antialiased;
  !* Support for Safari and Chrome. *!
  text-rendering: optimizeLegibility;

  !* Support for Firefox. *!
  -moz-osx-font-smoothing: grayscale;

  !* Support for IE. *!
  font-feature-settings: 'liga';
}*/

/* Tags */
small {
  letter-spacing: 1px;
}

/* Fonts */
.font-anton {
  font-family: 'Anton', sans-serif;
}
.text-shadow-default {
  text-shadow: 2px 2px 2px #000;
}

/* Layers */
.layer {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* Game Layer */
.layer-game {
  background: transparent url(../img/gotham.jpg) center center no-repeat;
  background-size: 100%;
  top: 0;
}
.layer-game.paused {
  background: transparent url(../img/gotham_paused.jpg) center center no-repeat;
  background-size: 100%;
}

/* Player Avatar */
.layer-avatar {
  max-height: 40px;
  top: 0.5em;
  z-index: 102;
}
.layer-avatar button {
  text-transform: none;
}

/* Welcome Layer */
.layer-welcome {
  padding: 5% 0 0;
  top: 0;
  z-index: 102;
}

/* Preloader */
.preloader-wrapper {
  margin-top: 3em;
}

/* Toast */
#toast-container .toast {
  font-family: 'Trajan Pro', Arial, serif;
  min-height: 34px !important;
  padding: 0 16px;
  text-shadow: 1px 1px 2px #000;
}
#toast-container .toast.error {
  background: rgba(183, 28, 28, 0.65);
}
#toast-container .toast.warning {
  background: rgba(230, 81, 0, 0.65);
}
#toast-container .toast.feedback {
  background: rgba(51, 105, 30, 0.65);
}
#toast-container .toast i {
  font-size: 20px;
  opacity: 0.9;
}
#toast-container small {
  padding-top: 1px;
}

/* Modals */
div.modal {
  background: rgba(0, 0, 0, 0.75) !important;
}

/* Forms */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #039be5 !important;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  border-bottom: 1px solid #01579b !important;
}
form button.btn-small {
  font-size: 10px;
  letter-spacing: 0.12em;
}